<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Food Delivery Application</title>
    <style type="text/css">
        a{
            text-decoration:none;
        }
        .list{
            margin-top:30px;
        }
    </style>
</head>
<body>
<div>
    <form th:action="@{/Item}" method="get">
        <label> <input type="text" name="name" id="name" />
        </label> <input type="submit" value="Choose Restaurant"/>
    </form>
</div>

<h3>menuItems:</h3>
<table border="1">
    <tr>
        <td>ItemName</td>
        <td>ItemPrice</td>
        <td>Quantities</td>
        <td>Notes</td>
        <td>Add to Cart</td>
    </tr>
    <span th:each="i:${Items}">

        <tr>

            <form th:action="@{/Cart}" method="post">
                <td><input type="text" th:value="${i.itemName}" name="name1" id="name1" readonly="readonly"/></td>
                <td><input type="text" th:value="${i.itemPrice}" name="price" id="price" readonly="readonly"/></td>
                <td><input type="number" name="quantity" value="1"/></td>
                <td><input type="text" name="note" value="none"/></td>
                <td><input type="submit" name="submit" value="Add"/></td>
            </form>
        </tr>

    </span>

</table>





<hr/>
<h3>Shopping Cart</h3>
<form th:action="@{/Order}" method="post">
    <input type="submit" name="submit" value="Place Order"/>
    <p>Address:<input type="text"  name="address" id="address" /></p>
</form>
<table border="1">
    <tr>
        <td>ItemName</td>
        <td>ItemPrice</td>
        <td>quantities</td>
        <td>Note</td>
    </tr>
    <span th:each="i:${cartItems}">
        <tr>
            <td th:text="${i.itemName}"></td>
            <td th:text="${i.itemPrice}"></td>
             <td th:text="${i.quantity}"></td>
             <td th:text="${i.note}"></td>
        </tr>

    </span>

</table>
<hr/>

<form th:action="@{/Cart/Delete}" method="post">
    <input type="submit" value="Empty Cart"/>
</form>

<hr/>
<h3>Order details</h3>
<hr/>
    <span th:each="i:${Order}">
        <form action="http://localhost:9006/" method="post">
            <p>orderId: <input type="text" th:value="${i.orderId}" name="orderId" id="orderId" readonly="readonly"/></p>
            <p>deliveryAddress:<span th:text="${i.deliveryAddress}"></span></p>
            <span>orderItems:
                <table border="1">
                <tr>
                    <td>ItemName</td>
                    <td>ItemPrice</td>
                    <td>quantities</td>
                </tr>
                <span th:each="item:${i.items}">
                    <tr>
                        <td th:text="${item.itemName}"></td>
                        <td th:text="${item.itemPrice}"></td>
                        <td th:text="${item.quantity}"></td>
                    </tr>

                </span>

            </table>
                </span>
            <p>TotalPrice: $ <span th:text="${i.totalPrice}"></span></p>
            <p>Order Date:<span th:text="${i.date}"></span></p>
            <a href="localhost:9006/"><input type="submit" value="Pay"/></a>
        </form>
        <form th:action="@{/Order/Delete}" method="post">
            <input type = "hidden" th:value="${i.orderId}" name="orderId"/>
            <input type="submit" value="Delete"/>
        </form>
            <hr/>

    </span>

</body>
</html>